server:
  port: 8100

spring:
  application:
    name: registration-service
  profiles:
    active: default
  config:
    import: "configserver:http://localhost:8888"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
