server:
  port: 8765

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: event-service
              uri: lb://event-service
              predicates:
                - Path=/events/**
            - id: registration-service
              uri: lb://registration-service
              predicates:
                - Path=/registrations/**
            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/payments/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka