spring:
  application:
    name: payment-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: payment

server:
  port: 8200

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka