server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/patrickxbs/configserver-event-repository
          search-paths:
            - event
            - registration
            - payment